@import "tailwindcss";

@theme {
    --animate-flip: flip 0.35s ease-in-out forwards;
    @keyframes flip {
        0% {
            transform: rotateX(0deg);
            background-color: white;
            color:black;
        }
        45% {
            transform: rotateX(90deg);
            background-color: white;
            color:black;
        }
        55% {
            transform: rotateX(90deg);
            background-color: var(--background-color);
            color: white;
        }
        100% {
            transform: rotateX(0deg);
            background-color: var(--background-color);
            color: white;
        }
    }


    }




@keyframes vibrate {
    0% { transform: translateX(0); }
    10% { transform: translateX(30px); }
    20% { transform: translateX(0px); }
    30% { transform: translateX(-30px); }
    40% { transform: translateX(0px); }
    50% { transform: translateX(30px); }
    60% { transform: translateX(0px); }
    70% { transform: translateX(-30px); }
    80% { transform: translateX(0px); }
    90% { transform: translateX(30px); }
    100% { transform: translateX(0); }
}

.vibrate {
    animation: vibrate 4000ms ease-in-out forwards;
    animation-delay: 0s;
}


@keyframes bounce-cell {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.animate-bounce-cell {
    animation: bounce-cell 200ms ease-in-out forwards;
    animation-delay: 0s;
}